<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%=data.name%></h1>
    <p>Thought : <%= data.thoughts[thoughtNumber] %></p>
    <br>
    <a href="/<%=id%>/thoughts/new">create a new thought</a>
    <br>
    <a href="/<%=id%>">go back</a>
</body>
</html>